.container {
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 0px;
  margin-left: 0px;

  .side-menu {
    width: 128px;
    background: rgba(128, 141, 255, 0.918);
  }
}
