<div class="container card m-t-lg">
  <div class="card-header">
    <label>もんだい：○○○○</label>
  </div>
  <div class="card-body">
      <div *ngIf="imageUrl" style="text-align: center">
        <img class="preview" src="{{ imageUrl }}" alt="問題画像" />
      </div>
      <div class="text-right">
        <button
          type="button"
          class="btn btn-primary mb-1 col-lg-3 hint"
          (click)="dispHint()"
        >
          <ng-container *ngIf="!hintFlag">
            ヒントをみる
          </ng-container>
          <ng-container *ngIf="hintFlag">
            ヒントをみない
          </ng-container>
        </button>
      </div>
    <div *ngIf="isSelective">
      <button
        *ngIf="answer1"
        type="button"
        class="btn btn-info mb-1 col-lg-3 answer"
        (click)="register(answer1)"
      >
        {{ answer1 }}
      </button>
      <button
        *ngIf="answer2"
        type="button"
        class="btn btn-danger mb-1 col-lg-3 answer"
        (click)="register(answer2)"
      >
        {{ answer2 }}
      </button>
      <button
        *ngIf="answer3"
        type="button"
        class="btn btn-success mb-1 col-lg-3 answer"
        (click)="register(answer3)"
      >
        {{ answer3 }}
      </button>
      <button
        *ngIf="answer4"
        type="button"
        class="btn btn-warning mb-1 col-lg-3 answer"
        (click)="register(answer4)"
      >
        {{ answer4 }}
      </button>
    </div>
    <div *ngIf="!isSelective">
      <!-- 数値入力式UI追加 -->
    </div>
    <div *ngIf="!answer1 && !answer2 && !answer3 && !answer4">
      <button
        type="button"
        class="btn btn-warning mb-1 col-lg-3"
        (click)="reload()"
      >
        やりなおし
      </button>
      <label class="question">
        ※エラーがはっせいしました。やりなおしボタンをおしてください。
      </label>
    </div>
  </div>
